@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	height: 100vh;
	width: 100vw;
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style-type: none;
}

.grid-container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 3fr;
}

.side-bar {
	background: lightblue;
}

.user-container {
	display: grid;
	grid-template-rows: 1fr 5fr;
}

.header {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	align-items: end;
	justify-items: end;
}

.search,
.notifications {
	align-self: start;
}

.search,
.user {
	justify-self: start;
}

.actions ul {
	display: grid;
	grid-auto-flow: column;
	gap: 15px;
}

.content {
	background-color: lightgray;
	display: grid;
	grid-auto-flow: column;
	gap: 10px;
}

.content-title {
	/* height: 50px; */
}

.projects {
	display: grid;
	grid-template-rows: auto repeat(3, 1fr) auto;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.projects .content-title {
	grid-column: 1 / 3;
}

.card {
	background-color: white;
}

.content-right {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.announcements,
.trending {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 10px;
}

.announcement-items,
.trending-items {
	background-color: white;
}